@model IEnumerable<intentory.Models.Customer>

@{
    int a = 1;
}

<a asp-controller="Admin" asp-action="AddCustomer" class="btn btn-primary">Add New Customer</a>

<table class="table table-stripped mt-2">
    <thead class="bg-black">
        <tr class="text-black">
            <th>SN</th>
            <th> Name</th>
            <th> Description</th>
            <th>Status</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>



        @foreach (var item in Model)
        {
            <tr>

                <td>@a</td>
                <td>@item.Name</td>
                <td>@item.Description</td>
                <td>
                    @if (@item.Status == "Active")
                    {
                        <form asp-controller="Admin" asp-action="CustomerStatusChange" method="post">
                            <input type="hidden" name="Id" value="@item.Id" />
                            <button type="submit" class="btn btn-success">Active</button>
                        </form>
                    }
                    else
                    {
                        <form asp-controller="Admin" asp-action="CustomerStatusChange" method="post">
                            <input type="hidden" name="Id" value="@item.Id" />
                            <button type="submit" class="btn btn-danger">Inactive</button>
                        </form>
                    }
                </td>

 

                <td class="content-center">

                    <a asp-controller="Admin" asp-action="CustomerDelete" asp-route-id="@item.Id" class="btn btn-danger"> Delete</a>
                    <a asp-controller="Admin" asp-action="CustomerUpdate" asp-route-id="@item.Id" class="btn btn-success"> Update</a>


                </td>
                @{
                    a++;
                }
            </tr>


        }

    </tbody>
</table>
