@model IEnumerable<intentory.Models.ProductAdd>

@{
    int a = 1;
}

<a asp-controller="Admin" asp-action="ProductAdd" class="btn btn-primary">Add New Product </a>

   <table class="table table-stripped mt-2">
    <thead class="bg-black">
            <tr class="text-black">
                <th>SN</th>
                <th> Name</th>
                <th> Description</th>
                <th>Unit of Measure</th>
                <th>Status</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>



            @foreach (var item in Model)
            {
                <tr>
                 
                    <td>@a</td>
                    <td>@item.Name</td>
                    <td>@item.Description</td>
                    <td>@item.UnitOfMeasure</td>
                    <td>
                    @if (@item.Status == "Active")
                    {
                        <form asp-controller="Admin" asp-action="ProductStatusChange" method="post">
                            <input type="hidden" name="Id" value="@item.Id" />
                            <button type="submit" class="btn btn-success">Active</button>
                        </form>
                    }
                    else
                    {
                        <form asp-controller="Admin" asp-action="ProductStatusChange" method="post">
                            <input type="hidden" name="Id" value="@item.Id" />
                            <button type="submit" class="btn btn-warning">Inactive</button>
                        </form>
                    }
                    </td>

                

                    <td class="content-center">

                    <a asp-controller="Admin" asp-action="ProductDelete" asp-route-id="@item.Id" class="btn btn-danger"> Delete</a>
                    <a asp-controller="Admin" asp-action="ProductUpdate" asp-route-id="@item.Id" class="btn btn-success"> Update</a>


                    </td>
             @{
              a++;
             }
            </tr>
           

            }

        </tbody>
 </table>
